.breadcrumbs {
  border-top: 1px solid rgba(51, 51, 46, .1);
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 10px;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  display: inline-flex;
  align-items: center;

  &::after {
    width: 1px;
    height: 10px;
    margin: 0 20px;
    content: '';
    background-color: rgba(81, 81, 78, .25);
  }

  &:last-child {
    .breadcrumbs__link {
      //      text-decoration: none;
      pointer-events: none;
    }

    &::after {
      display: none;
    }
  }
}

.breadcrumbs__link {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.1;
  transition: .5s;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #51514e;

  &:hover {
    color: $highlight;

    svg {
      stroke: $highlight;
    }
  }

  svg {
    width: 16px;
    height: 16px;
    transition: .5s;

    stroke: #51514e;
  }
}
