.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  transition: .5s;
  pointer-events: none;
  opacity: 0;
  background-color: #51514e;

  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

.header-menu__inn {
  height: calc(100% - 66px);
  border-top: 1px solid rgba(255, 255, 255, .1);

  @include min(680) {
    height: calc(100% - 80px);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    @include min(680) {
      flex-direction: row;
    }
  }
}

.header-menu__left,
.header-menu__right {
  width: 100%;
  height: auto;

  @include min(680) {
    width: 50%;
    height: 100%;
  }
}

.header-menu__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;

  @include min(680) {
    border-right: 1px solid rgba(255, 255, 255, .1);
  }
}

.menu__list {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;

  @include min(680) {
    margin: 0 0 60px 0;
  }
}

.menu__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__link {
  font-family: $font-title;
  font-weight: 600;
  line-height: 1.1;
  user-select: none;
  transition: .5s;
  text-decoration: none;
  color: #fff;

  @include responsive-font(72, 30);

  &:hover {
    color: $highlight;
  }
}

.header-menu__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, .1);

  @include min(680) {
    padding-top: 0;
    border-top: none;
  }
}

.header-menu__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  @include min(680) {
    max-width: 400px;
    padding-left: 20px;
  }
}

.header-menu__address {
  font-size: 16px;
  line-height: 1.3;
  display: inline-flex;
  margin-bottom: 18px;
  transition: .5s;
  text-decoration: none;
  color: #fff;

  &:hover {
    color: $highlight;

    svg {
      fill: $highlight;
    }
  }

  svg {
    flex: none;
    fill: #fff;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    transition: .5s;
    transform: translateY(2px);
  }
}

.header-menu__phone,
.header-menu__mail {
  font-weight: 500;
  line-height: 1.3;
  display: block;
  transition: .5s;
  text-decoration: none;
  color: #fff;

  @include responsive-font(20, 16);

  &:hover {
    color: $highlight;
  }
}

.header-menu__social {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

  @include min(680) {
    margin-top: 72px;
    margin-bottom: 60px;
  }
}

.header-menu__social-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  transition: .5s;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 50%;

  &:hover {
    border-color: $highlight;

    svg {
      fill: $highlight;
    }
  }

  svg {
    fill: #fff;
    width: 16px;
    height: 16px;
    transition: .5s;
  }
}
