$ratingSize: 100px;

.star-rating {
  position: relative;
  width: $ratingSize;
  height: ($ratingSize/5);

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: $ratingSize;
    height: ($ratingSize/5);
    content: '';
    // inactive
    background-image: url('../img/star-empty.svg');
    background-repeat: repeat-x;
    background-size: ($ratingSize/5);
  }

  > span {
    position: absolute;
    display: block;
    overflow: hidden;
    width: $ratingSize;
    height: ($ratingSize/5);
    text-indent: -10000px;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: ($ratingSize/5);
      content: '';
      text-indent: 10000px;
      background-image: url('../img/star.svg');
      background-repeat: repeat-x;
      background-size: ($ratingSize/5);
    }
  }
}
