.header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  @include min(680) {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .btn {
    height: 30px;

    @include min(680) {
      height: 42px;
    }
  }
}

.header__logo {
  display: block;
  flex: none;
  width: 110px;
  margin-right: auto;

  @include min(375) {
    width: 130px;
  }
  @include min(680) {
    width: 223px;
  }

  svg {
    width: 100%;
  }
}

.header__call {
  width: 30px;
  height: 30px;
  padding: 0;

  @include min(680) {
    width: auto;
    height: 42px;
    padding: 5px 28px;
  }

  &:hover {
    color: $highlight;
    border-color: $highlight;

    svg {
      fill: $highlight;
    }
  }

  svg {
    fill: $dark;
    width: 12px;
    height: 12px;
    transition: .5s;

    @include min(680) {
      display: none;
    }
  }

  span {
    display: none;

    @include min(680) {
      display: block;
    }
  }
}

.btn__services {
  margin-left: 10px;
  padding-right: 12px;
  padding-left: 12px;
  color: #fff;
  background-color: $dark;

  @include min(680) {
    padding-right: 30px;
    padding-left: 20px;
  }

  &:hover {
    color: #fff;
    border-color: #fff;
    background-color: $highlight;

    svg {
      fill: #fff;
    }
  }

  svg {
    display: none;

    @include min(375) {
      display: block;
      flex: none;
      fill: #fff;
      width: 12px;
      height: 12px;
      margin-right: 12px;
    }
    @include min(680) {
      margin-right: 20px;
    }
  }
}

.btn__burger {
  flex: none;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  border-radius: 50% !important;
  background-color: $dark;

  @include min(680) {
    width: 42px;
    height: 42px;
  }

  &:hover {
    border-color: $highlight;
    background-color: $highlight;
  }
}


/* begin menu is open */
.header.active {
  position: fixed;

  .header__logo {
    pointer-events: none;
    opacity: .1;
  }

  .logo__path {
    fill: #fff;
  }

  .header__call {
    pointer-events: none;
    opacity: .1;
    color: #fff;
    border-color: #fff;


    svg {
      fill: #fff;
    }
  }

  .btn__services {
    pointer-events: none;
    opacity: .1;
  }

  .btn__burger {
    pointer-events: none;
    opacity: .1;
    border-color: #fff;
    background-color: #fff;
  }

  .burger__label::before,
  .burger__label::after {
    background: $dark;
  }

  .burger__label::after {
    filter: drop-shadow(0 $burger-item-shadow $dark);
  }
}

/* end   menu is open */

/* begin active btns */
.header.active {
  .btn__services.active {
    pointer-events: auto;
    opacity: 1;
    border-color: $highlight;
    background-color: $highlight;
  }

  .btn__burger.active {
    pointer-events: auto;
    opacity: 1;
    border-color: $highlight;
    background-color: $highlight;

    .burger__label::before,
    .burger__label::after {
      background: #fff;
    }

    .burger__label::after {
      filter: drop-shadow(0 $burger-item-shadow transparent);
    }
  }
}

/* end   active btns */
