.request {
  @include min(768) {
    padding: 0 40px;
  }

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fdf6ee;

    @include min(1025) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.request__left,
.request__right {
  width: 100%;

  @include min(1025) {
    width: calc(50% - 20px);
  }
}

.request__left {
  display: flex;
  flex-direction: column;
}

.request__right {
  padding-top: 20px;
}

.request__title {
  font-family: $font-title;
  font-weight: 600;
  line-height: 1.3;
  color: #33332e;

  @include responsive-font(40, 28);
}

.request__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 40px;
  color: #51514e;
}

/* begin user */
.request__user {
  display: flex;
  margin-top: auto;
  margin-bottom: 40px;

  @include min(680) {
    margin-bottom: 0;
  }
}

.request__user-ava {
  flex: none;
  width: 70px;
  margin-right: 10px;

  @include min(375) {
    width: 80px;
    margin-right: 15px;
  }
  @include min(680) {
    width: 100px;
    margin-right: 20px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.request__user-blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  max-width: 400px;
  margin: 8px 0 15px 0;
  padding: 30px 0 0 0;
  color: #51514e;
  background-image: url('../img/bg-blockquote.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 16px 12px;
}

.request__user-descr {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.1;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #51514e;

  @include min(375) {
    font-size: 12px;
  }
}

.request__user-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding-right: 10px;
  white-space: nowrap;
  color: #51514e;

  @include min(375) {
    font-size: 16px;
    padding-right: 20px;
  }
}

.request__user-position {
  padding-left: 10px;

  @include min(375) {
    padding-left: 20px;
  }
}

/* end   user */


/* begin FORM */
.request-form__row {
  display: flex;
  flex-direction: column;

  @include min(680) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.request-form__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 40px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #51514e;
}

.request-form__select,
.request-form__input {
  width: 100%;
  margin-bottom: 30px;

  @include min(680) {
    width: calc(50% - 20px);
    margin-bottom: 35px;
  }
}

.request-form__textarea {
  width: 100%;
  margin-bottom: 30px;

  @include min(680) {
    margin-bottom: 35px;
  }
}

/* begin TYPE FILE */
.request-form__file-input-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    content: '';
    pointer-events: none;
    border: 1px dashed #33332e;
  }
}

.request-form__file-input {
  display: block;
  width: 100%;
  height: 70px;
  opacity: 0;
  background-color: #dad55e;
}

.MultiFile-wrap {
  width: 100%;
}

.MultiFile-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.MultiFile-label {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
  padding-right: 15px;
}

.MultiFile-remove {
  position: absolute;
  top: 2px;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  color: transparent;
  background-image: url('../img/del.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  &:hover {
    background-image: url('../img/del-hov.svg');

    & + span .MultiFile-title {
      color: $highlight;
    }
  }
}

.MultiFile-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  user-select: none;
  transition: .25s;
  color: #33332e;
}

.request-form__file-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 5px 20px;
  text-align: center;
  pointer-events: none;
  color: #33332e;
}

/* end   TYPE FILE */


.request-form__btn {
  margin-left: auto;
  color: $highlight;
  border-color: $highlight;

  &:hover {
    color: #fff;
    background-color: $highlight;
  }
}

/* end   FORM */
