//BEGIN about-sec
.about-sec
  .container
    a(href="#why-we-sec").scroll-down.scroll
      +svg('arr-down')
    h2.about-sec__title From idea to goal
    .about-sec__text-wrap
      .about-sec__text Many Mays is a family of dedicated and qualified employees, many of whom have worked for us for over 10 years. We are proud to serve DMV area and we're always strive to make the customer happy. If you're not happy we're not done!
//END   about-sec