//BEGIN advant-sec
.advant-sec
  .container
    h2.advant-sec__title Our services fully comply with current legislation - all projects developed by us are coordinated with the relevant authorities to obtain the necessary permits. We work in order to give you aesthetic pleasure from every minute of your stay.
    .advant-sec__items
      .advant-sec__item
        .advant-sec__item-title Work in time
        .advant-sec__item-text we work at any time of the year and in any weather conditions as we use our own modern tools, equipment and machinery
      .advant-sec__item
        .advant-sec__item-title Hight quality
        .advant-sec__item-text fully fulfill all of the customer wishes and requirements and make the necessary adjustments if they are due to the characteristics of the object
      .advant-sec__item
        .advant-sec__item-title Best price
        .advant-sec__item-text our prices are flexible, transparent and absolutely justified
//END   advant-sec