//BEGIN footer
.footer
  //BEGIN top
  .footer-top
    .container
      //BEGIN footer__chat
      a(href="#").footer__chat
        .footer__chat-title Let’s talk
        .footer__chat-subtitle Chat with us in WhatsApp. We are online.
      //END   footer__chat
  //END   top

  //BEGIN main
  .footer-main
    .container
      //BEGIN item
      .footer-main__item
        h3.footer-main__item-title Contact
        a(href="https://goo.gl/maps/fudd7QjeS9LMboK9A" target="_blank" rel="nofollow noopener noreferrer").header-menu__address
          span 2008 Maryland Ave, Baltimore, MD 21218, USA
          +svg('copy')
        a(href="tel:+18008889999").header-menu__phone 1-800-888-9999
        a(href="mailto:hello@manyways.com").header-menu__mail hello@manyways.com
        .header-menu__social
          a(href="#" target="_blank" rel="nofollow noopener noreferrer").header-menu__social-link
            +svg('inst')
          a(href="#" target="_blank" rel="nofollow noopener noreferrer").header-menu__social-link
            +svg('twitter')
          a(href="#" target="_blank" rel="nofollow noopener noreferrer").header-menu__social-link
            +svg('fb')
      //END   item

      //BEGIN item
      .footer-main__item
        h3.footer-main__item-title remodeling Services
        ul.footer-main__menu
          li.footer-main__menu-item
            a(href="#").footer-main__menu-link Bathroom
          li.footer-main__menu-item
            a(href="#").footer-main__menu-link Flooring
          li.footer-main__menu-item
            a(href="#").footer-main__menu-link Deck
          li.footer-main__menu-item
            a(href="#").footer-main__menu-link Basement
          li.footer-main__menu-item
            a(href="#").footer-main__menu-link Kitchen
          li.footer-main__menu-item
            a(href="#").footer-main__menu-link Roofing
      //END   item

      //BEGIN item
      .footer-main__item
        h3.footer-main__item-title Explore
        ul.footer-second__menu
          li.footer-second__menu-item
            a(href="#").footer-second__menu-link Home page
          li.footer-second__menu-item
            a(href="#").footer-second__menu-link About us
          li.footer-second__menu-item
            a(href="#").footer-second__menu-link Portfolio
          li.footer-second__menu-item
            a(href="#").footer-second__menu-link Contact us
      //END   item
  //END   main

  //BEGIN bottom
  .footer-bottom
    .footer-bottom__policy
      .container
        a(href="#" target="_blank").footer-bottom__policy-link Terms & сonditions
        a(href="#" target="_blank").footer-bottom__policy-link Privacy policy
        a(href="#" target="_blank").footer-bottom__policy-link Cookie policy
    .footer-bottom__copyright
      .container
        .footer-bottom__copyright-item Many Ways © 2022. All rights reserved.
        .footer-bottom__copyright-item Website developed by <a href="#" target="_blank" rel="nofollow noopener noreferrer">Mate</a>
  //END   bottom
//END   footer