//BEGIN header
#header.header.active
  #header__menu

  .container
    a(href="/").header__logo
      include ../elements/logo

    a(href="tel:+18008889999").btn.header__call
      +svg('phone')
      span 1-800-888-9999
    button.btn.btn__services
      +svg('dots')
      span services
    button.btn.btn__burger
      include ../elements/burger

//END   header