//BEGIN links
.links
  .container
    h2.links__title OR learn more about our services
  ul.links__list
    li.links__item
      a(href="#").links__link Kitchen
    li.links__item
      a(href="#").links__link Bathroom
    li.links__item
      a(href="#").links__link Flooring
    li.links__item
      a(href="#").links__link Deck
    li.links__item
      a(href="#").links__link Basement
    li.links__item
      a(href="#").links__link Roofing
//END   links