//BEGIN result
.result
  .container
    h2.result__title and as result
  .result__body(style="background-image: url('assets/img/bg-result.jpg');")
    .container
      .result__body-title Happy people in new home
      .result__body-bottom
        .result__body-text The quality of work and the choice of individual and standard solutions for budgets of all sizes are our main advantages. Contact our manager, and after a few hours find out a preliminary calculation of the cost of your project!
        button.result__body-btn.btn Order service
//END   result