//BEGIN why-we
#why-we-sec.why-we-sec
  .container
    //BEGIN left
    .why-we-sec__left
      blockquote.why-we-sec__blockquote.blockquote We know what you need and we know how to make your dream come true, definitely!
    //END   left

    //BEGIN right
    .why-we-sec__right
      h2.why-we-sec__title Acquisition of suburban real estate is an excellent solution for those who want to live far from the city hustle and fuss, noise and bad ecology.
      .why-we-sec__descr
        p Typically, many purchase a ready-made house or cottage. It is fast and convenient, but on the other hand, inevitably such difficulties arise as the disparity between real estate and the desires of its new owner, as well as frequent complaints about its technical condition.
        p However, there is nothing difficult in solving all these problems - all you need is to contact our company. Many Ways will conduct a professional, operational and high-quality reconstruction of your home or demolish the old building to build a completely new, individual project at your request.
    //END   right
//END   why-we