//BEGIN works-sec
.works-sec
  .container
    //BEGIN top
    .works-sec__top
      //BEGIN left
      .works-sec__left
        .works-sec__left-item
          .works-sec__left-pic
            img(src="assets/img/works/work-01.jpg" alt="image")
          .works-sec__left-text We work with absolutely any buildings and structures - from objects of historical value to industrial enterprises, office buildings and private houses.
      //END   left

      //BEGIN right
      .works-sec__right
        .works-sec__right-img
          img(src="assets/img/work-lg.jpg" alt="image")
      //END   right
    //END   top

    //BEGIN bottom
    .works-sec__bottom
      .works-sec__items
        .works-sec__item
          img(src="assets/img/works/work-02.jpg" alt="image")
        .works-sec__item
          img(src="assets/img/works/work-03.jpg" alt="image")
        .works-sec__item
          span Our competence includes not only the reconstruction of the base, floors, roofs and partitions, but also restoration of the internal architectural elements up to immaculate technical condition, attachment of additional rooms and blocks for household purposes, restoration of all utilities and the attic equipment.
        .works-sec__item
          img(src="assets/img/works/work-04.jpg" alt="image")
    //END   bottom
//END   works-sec