//BEGIN filter
.filter
  ul.filter__list
    li.filter__item.active
      a(href="#").filter__link
        span All works
        span 84
    li.filter__item
      a(href="#").filter__link
        span Kitchen
        span 22
    li.filter__item
      a(href="#").filter__link
        span Bathroom
        span 16
    li.filter__item
      a(href="#").filter__link
        span Flooring
        span 31
    li.filter__item
      a(href="#").filter__link
        span Deck
        span 3
    li.filter__item
      a(href="#").filter__link
        span Basement
        span 7
    li.filter__item
      a(href="#").filter__link
        span Roofing
        span 5
//END   filter
