//BEGIN header__menu
#header__menu.header__menu.header-menu
  .header-menu__inn
    .container
      //BEGIN left
      .header-menu__left
        nav.menu
          ul.menu__list
            li.menu__item
              a(href="#").menu__link Home page
            li.menu__item
              a(href="#").menu__link About us
            li.menu__item
              a(href="#").menu__link Portfolio
            li.menu__item
              a(href="#").menu__link Contact us
      //END   left

      //BEGIN right
      .header-menu__right
        .header-menu__info
          a(href="https://goo.gl/maps/fudd7QjeS9LMboK9A" target="_blank" rel="nofollow noopener noreferrer").header-menu__address 2008 Maryland Ave, Baltimore, MD 21218, USA
          a(href="tel:+18008889999").header-menu__phone 1-800-888-9999
          a(href="mailto:hello@manyways.com").header-menu__mail hello@manyways.com
          .header-menu__social
            a(href="#" target="_blank" rel="nofollow noopener noreferrer").header-menu__social-link
              +svg('inst')
            a(href="#" target="_blank" rel="nofollow noopener noreferrer").header-menu__social-link
              +svg('twitter')
            a(href="#" target="_blank" rel="nofollow noopener noreferrer").header-menu__social-link
              +svg('fb')
      //END   right
//END   header__menu