//BEGIN tabs
.index-top__tabs
  .index-top__tabs-title perfect result from A – Z
  .index-top__tabs-body
    .index-top__tabs-btns
      .index-top__tabs-btn.active(data-tab="01") Kitchen Remodeling
      .index-top__tabs-btn(data-tab="02") Bathroom Remodeling
      .index-top__tabs-btn(data-tab="03") Flooring
      .index-top__tabs-btn(data-tab="04") Deck
      .index-top__tabs-btn(data-tab="05") Basement/ Basement finish
      .index-top__tabs-btn(data-tab="06") Roofing
    .index-top__tabs-pictures
      .index-top__tabs-picture.index-top__tabs-picture--01.active
        img(src="assets/img/tabs-picture-01.jpg" alt="picture")
      .index-top__tabs-picture.index-top__tabs-picture--02
        img(src="assets/img/tabs-picture-02.jpg" alt="picture")
      .index-top__tabs-picture.index-top__tabs-picture--03
        img(src="assets/img/tabs-picture-03.jpg" alt="picture")
      .index-top__tabs-picture.index-top__tabs-picture--04
        img(src="assets/img/tabs-picture-04.jpg" alt="picture")
      .index-top__tabs-picture.index-top__tabs-picture--05
        img(src="assets/img/tabs-picture-05.jpg" alt="picture")
      .index-top__tabs-picture.index-top__tabs-picture--06
        img(src="assets/img/tabs-picture-06.jpg" alt="picture")
//END   tabs