*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-weight: 400;
  line-height: 1.3;
  color: $dark;

  @include responsive-font(18, 16);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;

  strong {
    font-weight: 600;
  }
}

//a {
//  transition: color $transition-hover;
//  text-decoration: none;
//  color: $link;
//  &:hover {
//    color: $link-hov;
//  }
//}

ol,
ul {
  li {
    padding: 0;
  }
}

//ul {
//  li {
//    // путь к кастомной картинке пункта ul
//    // list-style-image: url('../img/ul.png');
//  }
//}
//
////кастомные пункты списка с цифрами
//ol {
//  // list-style: none;
//  // @include counter(li);
//  li::before {
//    // color: $brand;
//  }
//}

input,
select {
  border-top: 2px solid transparent !important;
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

.input,
.textarea,
.select {
  position: relative;

  input,
  textarea,
  select {
    overflow: hidden;
    width: 100%;
    padding: 0 0 20px 0;
    transition: .5s;
    text-overflow: ellipsis;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #33332e;
    border-left: none;
    background-color: transparent;

    @include placeholder-color(#33332e);

    & + span {
      top: 0;
      display: block;
      color: #33332e;
    }

    & + span + span {
      top: calc(100% + 5px);
      display: block;
      color: #ea5050;
    }
  }

  span {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;
    position: absolute;
    left: 0;
    display: none;
    transition: .5s;
    opacity: 0;
  }
}

.textarea {
  textarea {
    & + span {
      top: 7px;
      left: 20px;
    }

    & + span + span {
      top: 100%;
    }
  }
}

.input.active input,
.select.active select {
  padding-top: 15px;
  padding-bottom: 5px;

  & + span {
    opacity: 1;
  }
}

.textarea.active textarea {
  & + span {
    opacity: 1;
  }
}

.input.error input,
.select.error select,
.textarea.error textarea {
  border-color: #ea5050;

  @include placeholder-color(#ea5050);

  & + span + span {
    opacity: 1;
  }
}

.select.error select {
  color: #ea5050;
}

.select {
  &::before {
    position: absolute;
    top: 10px;
    right: 15px;
    bottom: 0;
    margin: auto;
    content: '';
    pointer-events: none;
    border-top: 8px solid $highlight;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.textarea textarea {
  padding: 20px;
  resize: none;
  border: 2px solid #33332e;
}

.blockquote {
  margin: 0;
  padding: 0 0 0 45px;
  background-image: url('../img/bg-blockquote.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 16px 12px;

  @include min(769) {
    padding: 0 0 0 57px;
  }
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding-top: 66px;

  flex-grow: 1;
  @include min(680) {
    padding-top: 80px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;

  @include min(680) {
    padding: 0 40px;
  }
}

.btn {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 5px 28px;
  cursor: pointer;
  user-select: none;
  transition: .5s;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: $dark;
  border: 1px solid $dark;
  border-radius: 22px !important;
  background-color: transparent;
  box-shadow: none;
}

.title {
  font-family: $font-title;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #33332e;

  @include responsive-font(44, 30);
}
