extends ../_template

block variables
  - let title       = 'Many Ways'
  - let description = 'Many Ways'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main
      include ../sections/index-top
      include ../sections/about-sec
      include ../sections/why-we-sec
      include ../sections/works-sec
      include ../sections/advant-sec
      include ../sections/testimonials
      .temp
      .temp
      .temp
      .temp
      .temp
      .temp
      .temp
      .temp
    //end content

    include ../sections/footer
    include ../elements/popup
    include ../sections/scripts
